<h3><%= @employee.name%></h3>
<h4>Employee Details</h4>
<%= image_tag @employee.profile_pic.url(:medium) %>
<table class = 'table'>
	<tr>
		<td>Employee ID</td>
		<th><%= @employee.id%></th>
	</tr>
	<tr>
		<td>email ID</td>
		<th><%= @employee.email%></th>
	</tr>
	</tr>
	<tr>
		<td>Phone Number</td>
		<th><%= @employee.mobile_no%></th>
	</tr>
	</tr>
	<tr>
		<td>Address</td>
		<th><%= @employee.address%></th>
	</tr>
	</tr>
	<tr>
		<td>Date of Birth</td>
		<th><%= @employee.date_of_birth%></th>
	</tr>
	</tr>
	<tr>
		<td>Date of Employment Commenced</td>
		<th><%= @employee.date_of_joining%></th>
	</tr>
	</tr>
	<tr>
		<td>Employment Status</td>
		<th><%= @employee.employment_status%></th>
	</tr>
	</tr>
	<tr>
		<td>Section</td>
		<th><%= @employee.section%></th>
	</tr>
	</tr>
	<% if current_user.role =='admin' %>
	

		<tr>
			<td>Bank Account Details</td>
			<th><%= @employee.bank_account_details%></th>
		</tr>
		</tr>
		<tr>
			<td>Adhar Card Details</td>
			<th><%= @employee.adhar_card_details%></th>
		</tr>
		</tr>
		<tr>
			<td>Pan Card Deetails</td>
			<th><%= @employee.pancard_details%></th>
		</tr>
		</tr>
		<tr>
			<td>Passport Details</td>
			<th><%= @employee.passport_details%></th>
		</tr>
		</tr>
		<tr>
			<td>Qualifications</td>
			<th><%= @employee.qualifications%></th>
		</tr>
		</tr>
	<% end %>
</table>
<h4>Assets</h4>


<% Asset.where(assigned_to: @employee.id).find_each do |asset|%>
	<%= link_to asset.name, admin_asset_path(asset) %>
<% end %>
<br/><br/>
<% if current_user.role =='admin' %>
	<%= link_to 'Send email', "/employees/compose_mail/#{@employee.id}", class: "btn btn-default" %>
	<%= link_to 'Send Message', "/messages/to_employee/#{@employee.id}", class: "btn btn-default" %>
	<%= link_to "Edit", edit_employee_path(@employee), class: "btn btn-default" %>
	<%= link_to "Remove Employee", employee_path(@employee), method: 'delete', data: {confirm: 'are you sure?'}, class: "btn btn-default" %>
<% end %>
<%= link_to 'Back', employees_path, class: "btn btn-default" %>