<h1>Admin</h1>
<%= link_to 'Company Management', companies_path %> | 
<% if current_user.role == 'admin'%>
	<%= link_to 'User management',  admin_users_path%> | 
	<%= link_to 'Employee management', employees_path %> | 
<% else %>
	<%= link_to 'Employees',employees_path%> |
<% end %>
<%= link_to 'Asset Management', admin_assets_path %>
<br/>
<% if current_user.role == 'admin'%>
	<%= link_to 'Edit Admin', edit_admin_path(current_user.id) %>
	<br/>	
<% end %>
Search for employees:
<%=form_for :employee , url: admins_search_employee_path, method:  "post" do |f| %>
	<%=f.search_field :search_employee %>
<% end %>

<br/>
<%= link_to 'Change Password', "/admins/edit_password/#{current_user.id}" %>
<br/>
<% if current_user.role == 'admin'%>
	<%= link_to 'Messages', messages_path %>
	<%= link_to 'Newsletters', newsletters_path %>
<% end %>
