<% employee = Employee.find_by_email(current_employee.email)%>

<h4 style = 'text-align:left; font-size: 30px; font-style: times; font-weight: bold'>WorXpace</h4>

<div class="col-md-3" >
      <ul class="nav nav-pills nav-stacked">
        <li ><%= link_to "Profile", "/employee_dashboard/profile/#{employee.id}" %></li>
        
		<li><%= link_to "Assets", employee_dashboard_employee_asset_path %></li>
		 
		

        <li><%= link_to "Messages", messages_path %></li>

        
      </ul>
</div>
<div class="col-md-9" style = "text-align:right";>
	<div class = "form-search">
	<%= form_for :employee , url: employee_dashboard_search_employee_path, method:  "post" do |f| %>

		<%=f.text_field :search_employee, placeholder: "Search for employees"  %>
	<% end %>
	</div>
</div>
