<h4>Assets </h4>
	<table class = 'table'>
		<tr>
			<th>Asset name</th>
			<th>Asset ID</th>
		</tr>
	<% @admin_assets.each do |asset| %>
		<tr>
			<td><%= asset.name %></td>
			<td><%= asset.asset_id %></td>
			<td><%= link_to 'View',  admin_asset_path(asset.id), class: "btn btn-primary" %></td>
			<td><%= link_to 'Edit',  edit_admin_asset_path(asset.id) , class: "btn btn-primary" %></td>
			<td ><%= link_to 'Delete', admin_asset_path(asset.id) , method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
		</tr>
	 <% end %>
	</table>
<br/>
<%= link_to 'Create Asset', new_admin_asset_path, class: "btn btn-default" %><%= link_to 'Back', admins_path , class: "btn btn-default"%>
