<!DOCTYPE html>
<html>
<head>
	
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	
  	a:hover{text-decoration: none; }
  </style>

</head>
<body style= 'margin-right:30px; margin-left:20px;'>

	<div class = "container "> 

		<% flash.each do |type, message| %>
		 <div align='center' >
		   <button class="close" data-dismiss="alert">×</button>
		   <%= message %>
		 </div>
		<% end %>
		<%= render "layouts/header" %>	 
		
		


	<%= yield %>
</body>
</html>
